@use "../colors";
@use "../size";

.accordion{
    color: colors.$white;
    margin-right: 150px;
    .header{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        p{
            font-size: 60px;
            font-family: "moniqa-narrowparagraph";
            line-height: 108%;
        }
        img{
            width: 40px;
            transform: rotate(180deg);
        }
    }
    .header::before{
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
        position: absolute;
        bottom: -10px;
    }
    .body{
        margin-top: 30px;
        box-sizing: border-box;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;
    }
    @media screen and (max-width: size.$tablet) {
        margin-right: 0;
    }
    @media screen and (max-width: size.$phone) {
        .header p {
            font-size: 40px;
        }
        .header{
            img{
                width: 30px;
            }
        }
    }
}

.accordion-active{
    .header{
        img{
            transform: rotate(0);
        }
    }

}