@use "../colors";
@use "../fonts";
@use "../size";

.button-plain {
  border-radius: 15px;
  background: colors.$green-dark;
  border: 1px solid rgba($color: colors.$white, $alpha: 0.2);
  color: colors.$white;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  font-family: "moniqa-paragraph";
}

button {
  border: none;
  cursor: pointer;
}
.button-circle {
  $btn_size: 180px;
  font-family: "Roboto Flex", sans-serif;
  width: $btn_size;
  height: $btn_size;
  font-size: 18px;
  border-radius: 50%;
  color: colors.$white;
  border: 1px solid colors.$white;
  background: none;
  @media screen and (max-width: size.$phone) {
    width: calc($btn_size / 1.5);
    height: calc($btn_size / 1.5);
    font-size: 14px;
  }
}

.button-circle-filled {
  background: colors.$green-color;

  border: none;
}

.button-circle-green {
  background: none;

  border: 1px solid colors.$green-color;
}

.button-circle:hover {
  background: colors.$green-color;
  border: 1px solid colors.$green-color;
}

.nav-circle {
  width: 64px;
  height: 64px;
  border-color: rgba($color: colors.$white, $alpha: 0.2);
  img {
    width: 16px;
  }
}
.nav-circle:hover {
  border-color: rgba($color: colors.$green-color, $alpha: 1);
}
