@font-face {
    font-family: "moniqa-paragraph";
    src: url("../../fonts/Moniqa-Paragraph.ttf");
}
@font-face {
    font-family: "moniqa-extralight";
    src: url("../../fonts/Moniqa-ExtraLightParagraph.ttf");
}
@font-face {
    font-family: "moniqa-light-italic";
    src: url("../../fonts/Moniqa-LightItalicDisplay.ttf");
}
@font-face {
    font-family: "moniqa-thincondensed";
    src: url("../../fonts/Moniqa-ThinCondensedDisplay.ttf");
}
@font-face {
    font-family: "moniqa-narrowparagraph";
    src: url("../../fonts/Moniqa-NarrowParagraph.ttf");
}